* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.text-align-center {
  text-align: center;
}

.disabled {
  visibility: hidden;
}

.flex {
  display: flex;
}

  .flex-column {
    flex-direction: column;
  }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .horizontal-align-center {
    display: flex;
    justify-content: center;
  }

  .vertical-align-center {
    display: flex;
    align-items: center;
  }

.padding--low {
  padding: 1.5rem;
}

  .padding--normal {
    padding: 3rem;
  }

.cursor {
  cursor: pointer;
}

.app-login-container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  top: -5vh;
}

  #user-image-modal {
    height: 100vh;
    width: 100vw;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    position: fixed;
    z-index: 1000;
  }

    #webcam-capture-modal {
      width: 640;
      height: 480;
      position: relative;
      text-align: center;
      margin: 0 auto;
    }

    #image-upload-button {
      display: none;
    }

@media screen and (max-width: 1100px) {
  .form-container {
    flex-direction: column !important;
  }
}

  .form-header {
    padding: 4rem;
    margin-bottom: 10rem;
  }

    .app-name-heading {
      font-size: 7.5rem;
    }

  .text-form-container {
    width: 35rem;
    margin: 3rem;
  }

  .form-or-button {
    margin: 0 5rem;
    cursor: initial;
  }

  .login-image-container {
    width: 16rem;
    height: 16rem;
    position: relative;
    margin: 2.5rem;
  }

    .login-image {
      filter: blur(3px);
      width: 15rem;
      height: 15rem;
    }

    .email-field {
      width: 40rem;
      color: #fff !important;
    }

      .email-field-input {
        border-color: #fff !important;
        color: #fff !important;
      }

.logout-button {
  position: fixed;
  z-index: 20;
  top: 3rem;
  right: 3rem;
}
