html
  head
    title= title
    link(href='https://cdn.muicss.com/mui-0.9.36/css/mui.min.css' rel='stylesheet' type='text/css')
    script(src='https://cdn.muicss.com/mui-0.9.36/js/mui.min.js')
    link(href='./css/main.css' rel='stylesheet' type='text/css')
  body
    div(class='app-login-container align-center flex-column')
      div(class='form-header mui--divider-bottom')
        div(class='mui--text-dark-secondary app-name-heading align-center padding--low') A.V.A.D.H.I
        div(class='mui--text-dark-hint mui--text-headline align-center text-align-center') Absence Verification and Detection Helping Instrument


  script(src='./js/app.js')
  
